hf_xet==1.2.0
langid==1.1.6
ftfy==6.3.1
regex==2025.9.18
tqdm==4.67.1
transformers==4.57.1
label-studio==1.21.0
ultralytics==8.3.220

facenet-pytorch==2.6.0
torch==2.10.0
torchaudio==2.10.0 
torchvision==0.25.0
deepface==0.0.79